@use "@styles/base/breakpoints" as *;
@use "@styles/base/colors" as *;

.base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 1.25rem 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease;

  &:active {
    transform: translateY(-4px);
  }
}

@media (max-width: $breakpoint-md) {
  .base-button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .base-button {
    padding: 1rem;
    border-radius: 8px;
  }
}
