@use "@styles/base/breakpoints" as *;
@use "@styles/base/colors" as *;

.base-button.contained-button {
  color: $gray-color;
  background: linear-gradient(135deg, $red-color 0%, #c73659 100%);

  &:hover {
    background: linear-gradient(135deg, #ff5a7a 0%, $red-color 100%);
    transform: translateY(-4px);
    box-shadow: 0 8px 30px rgba($red-color, 0.4);
  }
}
