.cart__icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  path,
  circle {
    fill: white;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.cart__quantity {
  position: absolute;
  top: 12px;
  right: 14px;
  color: black;
  background: #19bcc9;
  border-radius: 50%;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  min-width: 1.25rem;
  min-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
