@use "@styles/base/colors" as *;

.dialog-body {
  font-size: clamp(0.9rem, 1.8vw, 1rem);
  color: rgba($white-color, 0.8);
  line-height: 1.6;
  margin-bottom: 2rem;

  h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    font-weight: bold;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }
}
